@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;     
  --color-primary-dark: #2563eb; 
  --color-primary-light: #eff6ff;
  --color-secondary: #22c55e;    
  --color-secondary-dark: #16a34a; 
  
  --color-accent: #f59e0b;       
  
  --color-surface: #ffffff;
  --color-surface-alt: #f9fafb; 
  
  --color-text-main: #111827;    
  --color-text-muted: #4b5563;   
  --color-text-inverted: #ffffff;
}
