@import '../partials/variables';

#mainNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background;
  color: $white;
  padding: 1rem;
  height: 5rem;
}

.user-info {
  display: flex;
  flex-direction: column;
}

#mainNavigation strong {
  font-weight: bold;
  margin-right: 0.5rem;
  text-align: center;
  font-size: 2rem;
}

#mainNavigation small {
  font-size: 0.8rem;
}

.log-out {
  &:hover {
    background-color: rgba(255, 0, 0, 0.2);
  }
}

.go-back {
  &:hover {
    background-color: rgba(0, 0, 255, 0.325);
  }
}
