<section>
  <h1>CATEGORIES</h1>
  <% @categories.each do |categorie| %>
    <%= link_to group_path(categorie.id) do %>
      <div>
        <%= image_tag categorie.icon %>
      </div>
      <div>
        <p><%= categorie.name %></p>
      </div>
    <% end %>
  <% end %>
  <%= link_to "Add new Category", new_group_path %>
</section>
