<%= render partial: "shared/navbar" %>

    <div class ="heading">
        <p>Total expenses: </p>
        <p class = "bold-text"><%= number_to_currency(@category.expenses.sum(:amount))%></p>
   
    </div>

<div id = "group-show" class= "section-wrap">
<section>
  <div>
  
    <div class ="expenses-tiles-wrap">
 <% @expenses.each do |expense| %>
      <%= render partial: "expense", locals: { expense: expense } %>
    <% end %>
  </div>

  <div  class = "add-btn">
    <%= link_to "Add New Transaction", new_group_expense_path(@category.id) %>
  </div>
</section>
</div>
