#expense-new {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#expense-new > form > div:last-child > .add-btn {
  height: auto !important;
}
