<nav id="mainNavigation">
      <div>
      <%= link_to root_path, class:"col" do %>
        <button class="btn go-back">Back</button>
      <% end %>
    </div>
  <% if user_signed_in? %>

    <div class ="user-info">
      <strong><%= current_user.name %></strong>
      <small>(<%= current_user.email %>)</small>
    </div>
    <div>
      <%= link_to destroy_user_session_path, method: :delete, :class => 'navbar-link' do %>
        <button class="btn log-out">LOG OUT</button>
      <% end %>
    </div>
  <% end %>
</nav>
