@import '../partials/variables';


#group-index {
    margin-top: 32px;
    max-width: 960px;
    margin: 0 auto;
     padding: 0 16px;
}

.group-card {
display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px;
}


.card-item img {
max-width: 80px;
    max-height: 80px;
    margin: 16px 0;
}

.card-item p {
    font-size: 16px;
    margin-bottom: 16px;
}

