@import 'variables';

.btn {
        border: none;
            background-color: transparent;
            color: $white;
            cursor: pointer;
            font-size: 1rem;
            margin-right: 0.5rem;
            padding: 0.5rem 1rem;
            transition: background-color 0.2s ease;
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #5fb523;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 0 8px #5fb52380;
    text-decoration: none;
    margin-top: 2rem;
    width: 100%;
    height: 40px;

   &:hover {
    background-color: #4c9121;
}
}