@import '../partials/variables';
.card-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 2px 4px $black;
    text-decoration: none;
    color: $light-black;
    transition: all 0.3s ease;
    padding: 0 2em;
    

&:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
}
