@font-face {
font-family: 'Pacifico-Regular';
    src: url('/app/assets/fonts/Pacifico_Regular.otf') format('truetype');
}

@font-face {
    font-family: 'Proxima_Nova_Bold';
    src: url('/app/assets/fonts/Proxima_Nova_Bold.otf');
}

@font-face {
    font-family: 'Proxima_Nova_Light';
    src: url('/app/assets/fonts/Proxima_Nova_Light.otf');
}