@import '../partials/variables';

#group-new form {
  margin-top: 2rem;
}

.form-controll {
  width: 95%;
  padding: 0.375rem 0.75rem;
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
