$white : #fff;
$red: red;
$green: green;
$background : #3778c2 ;
$black: black;
$light-grey: #e2dfdf;
$light-black: #333;
$devise-btn-background: #007bff;
$app-btn-background: #5fb523;
$text-color: #434b54;